parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - src/Operations.php
    stubFiles:
        - .phpstan/Operations.stub
        - .phpstan/Client.stub
    parallel:
        maximumNumberOfProcesses: 1
